{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block page_title %}{% endblock %}</title>
	

	<!-- Bootstrap-->
	<link rel="stylesheet" href="{% static 'sgc/css/bootstrap.css' %}" />

	<!-- Bootstrap theme  -->
	<link rel="stylesheet" href="{% static 'sgc/css/bootstrap-theme.css' %}" />
	
</head>
<body>
	<div class="container-fluid before-header">
		<div class="form-search">

			<div class="col-md-5 col-md-offset-7">
				<div class="col-md-4 text-right">
					<a href="{% url 'usuarios.views.iniciarSesion' %}"><img src="{% static 'sgc/img/other-icons/iconologin.png' %}" alt="" height="42px"></a>
					<a href="{% url 'usuarios.views.crearUsuario' %}"><img src="{% static 'sgc/img/other-icons/iconoregistrarse.png' %}" alt="" height="42px"></a>
				</div>
				<div class="col-md-8">
					<form action="">
						
						<input type="text" class="form-control" placeholder="Buscar" />
						<button type="submit" class="btn-search">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</form>	
				</div>
				
			</div>
		</div>
	</div>
	<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<a href="{% url 'sgc.views.home' %}"><img src="{% block img_logo %}{% endblock %}" alt="" class="navbar-brand" /></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'sgc.views.home' %}">Inicio</a></li>
					<li><a href="{% url 'noticia.views.noticias' %}">Noticias</a></li>
					{% block menu_items %}
						
					{% endblock menu_items %}
					{% block ondas_menu_block %}
						
					{% endblock ondas_menu_block %}
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	{% block cuerpo %}
		
	{% endblock cuerpo %}

		<!-- Jquery Library -->
	<script src="{% static 'sgc/js/jquery-2.1.3.js' %}"></script>

	<!-- Bootstrap Library -->
	<script src="{% static 'sgc/js/bootstrap.js' %}"></script>

	{% block other_js %}
		
	{% endblock other_js %}
</body>
</html>