{% extends 'base_template.html' %}

{% load staticfiles %}

{% block page_title %} Noticias Históricas | SGC {% endblock %}

<span style="display:none;">	
	{% block img_logo %}
		{% static 'sgc/img/logo-main-page.png' %}
	{% endblock img_logo %}
</span>

{% block cuerpo %}
	<div class="container-fluid">
		<div class="container">
			
			<h2 class="text-center block-title regular-title">Noticias Históricas</h2>

			<div class="col-lg-12">
				<div class="col-md-8 container-noticias-historicas">
					<article>
						<div class="col-sm-7">
							<img src="{% static 'sgc/img/other-images/index-2_img-3.jpg' %}" class="full-wide" alt="" />
						</div>
						<div class="col-sm-5">
							<h3><a href="#">Título del post</a></h3>
							<p>Autor: Desconocido</p>
							<p class="text-justify">
								Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.
							</p>
						</div>
					</article>
					<article>
						<div class="col-sm-7">
							<img src="{% static 'sgc/img/other-images/index-2_img-6.jpg' %}" class="full-wide" alt="" />
						</div>
						<div class="col-sm-5">
							<h3><a href="#">Título del post</a></h3>
							<p>Autor: Desconocido</p>
							<p class="text-justify">
								Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.
							</p>
						</div>
					</article>
					<article>
						<div class="col-sm-7">
							<img src="{% static 'sgc/img/other-images/index-2_img-4.jpg' %}" class="full-wide" alt="" />
						</div>
						<div class="col-sm-5">
							<h3><a href="#">Título del post</a></h3>
							<p>Autor: Desconocido</p>
							<p class="text-justify">
								Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.
							</p>
						</div>
					</article>
					<article>
						<div class="col-sm-7">
							<img src="{% static 'sgc/img/other-images/index-2_img-5.jpg' %}" class="full-wide" alt="" />
						</div>
						<div class="col-sm-5">
							<h3><a href="#">Título del post</a></h3>
							<p>Autor: Desconocido</p>
							<p class="text-justify">
								Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.
							</p>
						</div>
					</article>
				</div>
				<div class="col-md-4">
					<h3 class="regular-title">Otras noticias</h3>
					<ul class="list-links text-right">
						<li>
							<a href="#">Noticia 1</a>
						</li>
						<li>
							<a href="#">Noticia 2</a>
						</li>
						<li>
							<a href="#">Noticia 3</a>
						</li>
						<li>
							<a href="#">Noticia 4</a>
						</li>
						<li>
							<a href="#">Noticia 5</a>
						</li>
						<li>
							<a href="#">Noticia 6</a>
						</li>

						<div class="space"></div>

						<a href="#" class="btn btn-primary">Ver más</a>
					</ul>
				</div>
			</div>
		</div>

		

		<div class="row footer">
			<div class="container">
				<div class="col-md-6">
					<p>Derechos reservados</p>
				</div>
				<div class="col-md-6 text-right">
					<ul class="menu-footer">
						<li><a href="#">Mapa del sitio</a></li>
						<li><a href="#">Inicio</a></li>
						<li><a href="#">Ayuda</a></li>
						<li><a href="#">Soporte</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

{% endblock cuerpo %}