{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Mapa</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="http://leafletjs.com/dist/leaflet.css" />

	<!-- Bootstrap-->
	<link rel="stylesheet" href="{% static 'sgc/css/bootstrap.css' %}" />

	<!-- Bootstrap theme  -->
	<link rel="stylesheet" href="{% static 'sgc/css/bootstrap-theme.css' %}" />

	<style>
		html { padding-top: 52px; height: 100%; }
		body { height: 100%; position: relative; }
		.navbar-brand {
			height: 50px;
			padding: 5px;
		}
		.navbar-nav > li > a {
			line-height: 0px;
			padding-bottom: 22px;
		}
		.desplegable-window {
			position: absolute;
			top: 0;
			right: 0;
			width: 350px;
			height: 100%;
			z-index: 1;
		}
		.bg-dark-blue label {
			color: white;
		}
		.navbar-default .navbar-nav > li > a {
			color: white;
		}
		.botonSearch {
			visibility: hidden;
		}
	</style>
</head>
<body>
	
	<!-- Modal -->
	<div class="modal fade" id="resultadosBusquedaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Resultados de búsqueda</h4>
				</div>
				<div class="modal-body">
					<div class="panel-group" id="accordionlista_resultados" role="tablist" aria-multiselectable="true">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="documentosBusquedaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Documentos de la búsqueda</h4>
				</div>
				<div class="modal-body">
					<div class="panel-group" id="accordionDocumentos_resultados" role="tablist" aria-multiselectable="true">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="shapesBusquedaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Shapes de la búsqueda</h4>
				</div>
				<div class="modal-body">
					<div class="panel-group" id="accordionShapes_resultados" role="tablist" aria-multiselectable="true">
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="desplegable-window" style="display:none;">
		<div class="panel panel-default bg-dark-blue">
			<div class="panel-body bg-dark-blue">
				<form action="" method="post">
					{% csrf_token %}
					<div class="form-group">
						<label for="combo1">Área temática</label>
						<select name="combo1" id="combo1" class="form-control">
							{% for area in areasTematicas %}
								<option value="{{ area.id }}">{{ area }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<input type="submit" name="submit" id="submitAreaTematica" class="btn btn-success form-control" value="Buscar" />
					</div>
				</form>
				<hr />
				<select class="form-control">
					<option value="centroide">Centroide</option>
					<option value="interseccion">Intersección</option>
					<option value="punto">Punto</option>
				</select>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-default navbar-fixed-top bg-dark-blue">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="col-lg-12">
				<div class="col-md-1">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						
						<a href="{% url 'sgc.views.home' %}"><img src="{% static 'sgc/img/single-logo-border.png' %}" alt="" class="navbar-brand" /></a>
					</div>
				</div>
				<div class="col-md-4 col-md-offset-2 text-center">
					<form class="navbar-form" role="search" id="formularioBusqueda" method="post">
				        <div class="form-group">
				          <input type="text" id="busqueda" class="form-control" placeholder="Búsqueda">
				        </div>
				        <button type="submit" class="btn btn-default">Buscar</button>
				    </form>
				    {% if documentosDig %}
				    	{{ documentosDig }}
				    {% endif %}
				</div>
				<div class="col-md-5">
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#" data-target="#documentosBusquedaModal" data-toggle="modal" class="botonSearch">Ver Documentos</a></li>
							<li><a href="#" data-target="#shapesBusquedaModal" data-toggle="modal" class="botonSearch">Ver Shapes</a></li>
							<li><a href="{% url 'sgc.views.home' %}">Inicio</a></li>
							<li><a href="" class="desplegable">Menú</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>
			</div>
			
		</div><!-- /.container-fluid -->
	</nav>

	<div id="map" style="width: 100%px; min-height: 100%"></div>

	<script src="http://leafletjs.com/dist/leaflet.js"></script>
	<!-- Jquery Library -->
	<script src="{% static 'sgc/js/jquery-2.1.3.js' %}"></script>

	<!-- Bootstrap Library -->
	<script src="{% static 'sgc/js/bootstrap.js' %}"></script>

	<script>
		var map = L.map('map').setView([11.0129931, -74.8334623], 13);
		var mark = "";

		var array1 = 0;
		var array2 = 0;
		var array3 = 0;

		L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: '',
			id: 'examples.map-i875mjb7'
		}).addTo(map);

		map.on('click', function(e) {
		    //alert("Lat, Lon : " + e.latlng.lat + ", " + e.latlng.lng);
		});

		$('.desplegable').click(function(e){
			e.preventDefault();
			$('.desplegable-window').toggle();
		});

		$(document).ready(function(){
			$('#formularioBusqueda').submit(function(e){
				e.preventDefault();

				var valor_busqueda = $('#busqueda').val();

				if(valor_busqueda != null && valor_busqueda != "null" && valor_busqueda != ""){
					$.post('{% url "sgc.views.search" %}', {'busqueda_valor': valor_busqueda}, function(response){
						if(response != 0 && response != null && response != "null"){
							map.removeLayer(mark);
							$('#accordionlista_resultados').empty();
							$('#listaResultados').empty();

							$.each(response[0], function(key, value){
								var id = "", titulo = "", resumen = "", geometria = "", puntos = "", documentos = [], documentos_shp = [];
								$.each(value, function(k,v){
									if(k == "id"){
										id = v;
									}
									if(k == "titulo"){
										titulo = v;
									}
									if(k == "resumen"){
										resumen = v.substring(0, 150) + "...";
									}
									if(k == "geometria"){
										geometria = v;
										$.each(geometria, function(k1, v1){
											if(k1 == "coordinates"){
												puntos = v1.reverse();
											}
										});
									}
									if(k == "locDoc"){
										$.each(v, function(k1, v1){
											documentos.push(v1);
										});
									}
									if(k == "locDocShp"){
										$.each(v, function(k1, v1){
											documentos_shp.push(v1);
										});
									}
								});

								var htmlAccordion = '<div class="panel panel-default">';
									htmlAccordion += '<div class="panel-heading" role="tab" id="heading'+id+'">';
									htmlAccordion += '<h4 class="panel-title">';
									htmlAccordion += '<a data-toggle="collapse" data-parent="#accordionlista_resultados" href="#collapse'+id+'" aria-expanded="true" aria-controls="collapse'+id+'">';
									htmlAccordion += titulo;
									htmlAccordion += '</a>';
									htmlAccordion += '</h4>';
									htmlAccordion += '</div>';
									htmlAccordion += '<div id="collapse'+id+'" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading'+id+'">';
									htmlAccordion += '<div class="panel-body">';
									htmlAccordion += '<p>'+resumen+'</p>';
									htmlAccordion += '<hr />';
									htmlAccordion += '<h4><i class="glyphicon glyphicon-folder-open"></i> &nbsp; Documentos digitales</h4>';
									for (var i = 0; i < documentos.length; i++) {
										htmlAccordion += '<p><a href="/media/'+documentos[i]+'"><i class="glyphicon glyphicon-file"></i> '+documentos[i]+'</a></p>';
									};
									htmlAccordion += '<hr />';
									htmlAccordion += '<h4><i class="glyphicon glyphicon-folder-open"></i> &nbsp; Archivos geográficos</h4>';
									for (var i = 0; i < documentos_shp.length; i++) {
										htmlAccordion += '<p><a href="/media/'+documentos_shp[i]+'"><i class="glyphicon glyphicon-globe"></i> '+documentos_shp[i]+'</a></p>';
									};

									htmlAccordion += '</div>';
									htmlAccordion += '</div>';
									htmlAccordion += '</div>';



								var htmlMarkerPopup = '<div class="panel panel-default">';
									htmlMarkerPopup += '<div class="panel-heading" role="tab" id="heading'+id+'">';
									htmlMarkerPopup += '<h4 class="panel-title">';
									htmlMarkerPopup += titulo;
									htmlMarkerPopup += '</h4>';
									htmlMarkerPopup += '</div>';
									htmlMarkerPopup += '<div class="panel-body">';
									htmlMarkerPopup += '<p>'+resumen+'</p>';
									htmlMarkerPopup += '<hr />';
									htmlMarkerPopup += '<h5><i class="glyphicon glyphicon-folder-open"></i> &nbsp; Documentos digitales</h5>';
									for (var i = 0; i < documentos.length; i++) {
										htmlMarkerPopup += '<p><a href="/media/'+documentos[i]+'"><i class="glyphicon glyphicon-file"></i> '+documentos[i]+'</a></p>';
									};
									htmlMarkerPopup += '<hr />';
									htmlMarkerPopup += '<h5><i class="glyphicon glyphicon-folder-open"></i> &nbsp; Archivos geográficos</h5>';
									for (var i = 0; i < documentos_shp.length; i++) {
										htmlMarkerPopup += '<p><a href="/media/'+documentos_shp[i]+'"><i class="glyphicon glyphicon-globe"></i> '+documentos_shp[i]+'</a></p>';
									};
									htmlMarkerPopup += '</div>';
									htmlMarkerPopup += '</div>';
									htmlMarkerPopup += '</div>';


								mark = L.marker(puntos).addTo(map).bindPopup(htmlMarkerPopup);
								$('#accordionlista_resultados').append(htmlAccordion);
							});



							$.each(response[1], function(key, value){
								$('.botonSearch').css('visibility', 'initial');
								$('#accordionDocumentos_resultados').empty();
								var id = "", titulo = "", resumen = "", geometria = "", archivo = "";
								$.each(value, function(k,v){
									if(k == "id"){
										id = v;
									}
									if(k == "titulo"){
										titulo = v;
									}
									if(k == "resumen"){
										resumen = v.substring(0, 150) + "...";
									}
									if(k == "geometria"){
										geometria = v;
										$.each(geometria, function(k1, v1){
											if(k1 == "coordinates"){
												puntos = v1.reverse();
											}
										});
									}
									if(k == "archivo"){
										archivo = v;
									}
								});

								var htmlAccordion = '<div class="panel panel-default">';
									htmlAccordion += '<div class="panel-heading" role="tab" id="heading'+id+'">';
									htmlAccordion += '<h4 class="panel-title">';
									htmlAccordion += '<a data-toggle="collapse" data-parent="#accordionDocumentos_resultados" href="#collapse'+id+'" aria-expanded="true" aria-controls="collapse'+id+'">';
									htmlAccordion += titulo;
									htmlAccordion += '</a>';
									htmlAccordion += '</h4>';
									htmlAccordion += '</div>';
									htmlAccordion += '<div id="collapse'+id+'" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading'+id+'">';
									htmlAccordion += '<div class="panel-body">';
									htmlAccordion += '<p>'+resumen+'</p>';
									htmlAccordion += '<hr />';
									htmlAccordion += '<p><a href="/media/'+archivo+'"><i class="glyphicon glyphicon-file"></i> '+archivo+'</a></p>';
									htmlAccordion += '</div>';
									htmlAccordion += '</div>';
									htmlAccordion += '</div>';


								var htmlMarkerPopup = '<div class="panel panel-default">';
									htmlMarkerPopup += '<div class="panel-heading" role="tab" id="heading'+id+'">';
									htmlMarkerPopup += '<h4 class="panel-title">';
									htmlMarkerPopup += titulo;
									htmlMarkerPopup += '</h4>';
									htmlMarkerPopup += '</div>';
									htmlMarkerPopup += '<div class="panel-body">';
									htmlMarkerPopup += '<p>'+resumen+'</p>';
									htmlMarkerPopup += '<hr />';
									htmlMarkerPopup += '<p><a href="/media/'+archivo+'"><i class="glyphicon glyphicon-file"></i> '+archivo+'</a></p>';								
									htmlMarkerPopup += '</div>';
									htmlMarkerPopup += '</div>';
									htmlMarkerPopup += '</div>';


								mark = L.marker(puntos).addTo(map).bindPopup(htmlMarkerPopup);
								$('#accordionDocumentos_resultados').append(htmlAccordion);
								
							});

							$.each(response[2], function(key, value){
								$('.botonSearch').css('visibility', 'initial');
								$('#accordionShapes_resultados').empty();
								var id = "", titulo = "", resumen = "", geometria = "", archivo = "";
								$.each(value, function(k,v){
									if(k == "id"){
										id = v;
									}
									if(k == "titulo"){
										titulo = v;
									}
									if(k == "resumen"){
										resumen = v.substring(0, 150) + "...";
									}
									if(k == "geometria"){
										geometria = v;
										$.each(geometria, function(k1, v1){
											if(k1 == "coordinates"){
												puntos = v1.reverse();
											}
										});
									}
									if(k == "archivo"){
										archivo = v;
									}
								});

								var htmlAccordion = '<div class="panel panel-default">';
									htmlAccordion += '<div class="panel-heading" role="tab" id="heading2'+id+'">';
									htmlAccordion += '<h4 class="panel-title">';
									htmlAccordion += '<a data-toggle="collapse" data-parent="#accordionShapes_resultados" href="#collapse2'+id+'" aria-expanded="true" aria-controls="collapse2'+id+'">';
									htmlAccordion += titulo;
									htmlAccordion += '</a>';
									htmlAccordion += '</h4>';
									htmlAccordion += '</div>';
									htmlAccordion += '<div id="collapse2'+id+'" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2'+id+'">';
									htmlAccordion += '<div class="panel-body">';
									htmlAccordion += '<p>'+resumen+'</p>';
									htmlAccordion += '<hr />';
									htmlAccordion += '<p><a href="/media/'+archivo+'"><i class="glyphicon glyphicon-globe"></i> '+archivo+'</a></p>';
									htmlAccordion += '</div>';
									htmlAccordion += '</div>';
									htmlAccordion += '</div>';

								var htmlMarkerPopup = '<div class="panel panel-default">';
									htmlMarkerPopup += '<div class="panel-heading" role="tab" id="heading'+id+'">';
									htmlMarkerPopup += '<h4 class="panel-title">';
									htmlMarkerPopup += titulo;
									htmlMarkerPopup += '</h4>';
									htmlMarkerPopup += '</div>';
									htmlMarkerPopup += '<div class="panel-body">';
									htmlMarkerPopup += '<p>'+resumen+'</p>';
									htmlMarkerPopup += '<hr />';
									htmlMarkerPopup += '<p><a href="/media/'+archivo+'"><i class="glyphicon glyphicon-globe"></i> '+archivo+'</a></p>';								
									htmlMarkerPopup += '</div>';
									htmlMarkerPopup += '</div>';
									htmlMarkerPopup += '</div>';

								mark = L.marker(puntos).addTo(map).bindPopup(htmlMarkerPopup);
								$('#accordionShapes_resultados').append(htmlAccordion);
								
							});
						
							if(response[0].length > 0){
								$('#resultadosBusquedaModal').modal('show');
							}else if(response[1].length > 0 && response[0].length == 0){
								$('#documentosBusquedaModal').modal('show');
							}else if(response[2].length > 0 && response[0].length == 0 && response[1].length == 0){
								$('#shapesBusquedaModal').modal('show');
							}else{
								$('#listaResultados').append('<p>No hay resultados.</p>');
								$('#accordionlista_resultados').empty();
								$('#accordionlista_resultados').append('<p>No hay resultados</p>');
								$('#resultadosBusquedaModal').modal('show');
							}

						}else{
							$('#listaResultados').append('<p>No hay resultados.</p>');
							$('#accordionlista_resultados').empty();
							$('#accordionlista_resultados').append('<p>No hay resultados</p>');
							$('#resultadosBusquedaModal').modal('show');
						}
					});
					
					


				}else{
					alert("Debe escribir algo para realizar una búsqueda");
				}

			});

			
			$('#submitAreaTematica').click(function(e){
				e.preventDefault();
				$.post("{% url 'sgc.views.busqueda' %}", {'area_busqueda': $('#combo1').val()}, function(response){
					if(response != "" && response != null && response != "null"){
						map.removeLayer(mark);
						$.each(response, function(key, value){
							var id="", geometria = [], titulo = "", resumen = "", puntos = "", locDocArr = [], locDocShpArr = [];
							$.each(value, function(k, v){
								if(k == "id"){
									id = v;
								}
								if(k == "geometria"){
									geometria = v;
									$.each(geometria, function(k1, v1){
										if(k1 == "coordinates"){
											puntos = v1.reverse();
										}
									});
								}
								if(k == "titulo"){
									titulo = v;
								}
								if(k == "resumen"){
									resumen = v.substring(0,150) + "...";
								}
								if(k == "locDoc"){
									locDocArr = v;
								}
								if(k == "locDocShp"){
									locDocShpArr = v;
								}
							});


							var htmlMarkerPopup = '<div class="panel panel-default">';
									htmlMarkerPopup += '<div class="panel-heading" role="tab" id="heading'+id+'">';
									htmlMarkerPopup += '<h4 class="panel-title">';
									htmlMarkerPopup += titulo;
									htmlMarkerPopup += '</h4>';
									htmlMarkerPopup += '</div>';
									htmlMarkerPopup += '<div class="panel-body">';
									htmlMarkerPopup += '<p>'+resumen+'</p>';
									htmlMarkerPopup += '<hr />';
									htmlMarkerPopup += '<h5><i class="glyphicon glyphicon-folder-open"></i> &nbsp; Documentos digitales</h5>';
									for (var i = 0; i < locDocArr.length; i++) {
										htmlMarkerPopup += '<p><a href="/media/'+locDocArr[i]+'"><i class="glyphicon glyphicon-file"></i> '+locDocArr[i]+'</a></p>';
									};
									htmlMarkerPopup += '<hr />';
									htmlMarkerPopup += '<h5><i class="glyphicon glyphicon-folder-open"></i> &nbsp; Archivos geográficos</h5>';
									for (var i = 0; i < locDocShpArr.length; i++) {
										htmlMarkerPopup += '<p><a href="/media/'+locDocShpArr[i]+'"><i class="glyphicon glyphicon-globe"></i> '+locDocShpArr[i]+'</a></p>';
									};
									htmlMarkerPopup += '</div>';
									htmlMarkerPopup += '</div>';
									htmlMarkerPopup += '</div>';


							mark = L.marker(puntos).addTo(map).bindPopup(htmlMarkerPopup);
						});
					}
				});
			});
		});
	</script>
</body>
</html>
















							
