{% extends 'template_base.html' %}
{% load staticfiles %}

{% block titulo_pagina %} Nosotros SGC {% endblock %}
{% block contenido_pagina %}
        <div class="space"></div>
        <div class="block" id="feature2">
            <div class="container">
                <div class="col-md-10 pull-right">
                    <h2>Nosotros</h2>
                    <div class="col-md-10 pull-right">
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at hendrerit leo. Mauris metus massa, maximus at mauris non, aliquam suscipit quam. Ut feugiat pellentesque enim, eu pharetra dolor dictum et. Nullam quis dignissim erat. Duis sollicitudin, erat ut auctor auctor, velit mauris dictum dui, eget pulvinar felis mi eget ligula. Mauris enim ligula, rhoncus vel egestas ut, tempor sit amet mauris. Integer eu enim sollicitudin, sollicitudin quam sed, ornare mi. Duis suscipit lacinia condimentum.</p>
                        
                        <p class="text-justify">
                        Donec in mauris a nulla iaculis egestas vel et elit. Praesent varius convallis justo sed lacinia. Praesent sollicitudin, eros in dignissim gravida, nunc augue rutrum turpis, in volutpat metus felis at erat. Duis sed finibus lectus. Donec at velit in quam semper aliquam vitae eu turpis. Suspendisse feugiat magna et nisl facilisis, vehicula volutpat magna iaculis. Proin ac ultricies dui. Curabitur placerat placerat nunc, et mollis dolor condimentum ut. Duis sed orci quam. Sed sed orci a orci blandit aliquam id consectetur urna. Nullam vitae consequat neque. Vestibulum at maximus est.</p>
                    </div>
                </div>
                <div class="col-md-10 pull-right">
                    <h2>Objetivos</h2>
                    <div class="col-md-10 pull-right">
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at hendrerit leo. Mauris metus massa, maximus at mauris non, aliquam suscipit quam. Ut feugiat pellentesque enim, eu pharetra dolor dictum et. Nullam quis dignissim erat. Duis sollicitudin, erat ut auctor auctor, velit mauris dictum dui, eget pulvinar felis mi eget ligula. Mauris enim ligula, rhoncus vel egestas ut, tempor sit amet mauris. Integer eu enim sollicitudin, sollicitudin quam sed, ornare mi. Duis suscipit lacinia condimentum.</p>
                        
                        <p class="text-justify">
                        Donec in mauris a nulla iaculis egestas vel et elit. Praesent varius convallis justo sed lacinia. Praesent sollicitudin, eros in dignissim gravida, nunc augue rutrum turpis, in volutpat metus felis at erat. Duis sed finibus lectus. Donec at velit in quam semper aliquam vitae eu turpis. Suspendisse feugiat magna et nisl facilisis, vehicula volutpat magna iaculis. Proin ac ultricies dui. Curabitur placerat placerat nunc, et mollis dolor condimentum ut. Duis sed orci quam. Sed sed orci a orci blandit aliquam id consectetur urna. Nullam vitae consequat neque. Vestibulum at maximus est.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="space"></div>
{% endblock %}