{% extends 'base_template.html' %}

{% load staticfiles %}

{% block page_title %} Noticias | SGC {% endblock %}

<span style="display:none;">	
	{% block img_logo %}
		{% static 'sgc/img/logo-main-page.png' %}
	{% endblock img_logo %}
</span>

{% block cuerpo %}
	<div class="container-fluid">
		<div class="container">
			<div class="col-lg-12">
				<div class="col-md-8">
					<h2 class="block-title regular-title">Noticias</h2>
					<div class="container-noticias">
						{% for noticia in noticias %}
							<div class="col-md-4">
								<div class="container-noticia">
									<img src="/media/{{ noticia.imagen_banner }}" class="full-wide" alt="">
									<h3 class="text-center"><a href="{% url 'noticia.views.noticia_detalle' 1 %}">{{ noticia.titulo }}</a></h3>
									<p class="text-justify">{{ noticia.cuerpo_noticia|truncatechars:200|safe }}</p>	
								</div>
								
							</div>
						{% endfor %}
						
						<div class="col-md-4">
							<div class="container-noticia">
								<img src="{% static 'sgc/img/other-images/index-2_img-3.jpg' %}" class="full-wide" alt="">
								<h3 class="text-center"><a href="#">Tal</a></h3>
								<p class="text-justify">Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>	
							</div>
							
						</div>
						<div class="col-md-4">
							<div class="container-noticia">
								<img src="{% static 'sgc/img/other-images/index-2_img-4.jpg' %}" class="full-wide" alt="">
								<h3 class="text-center"><a href="#">Tal</a></h3>
								<p class="text-justify">Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>	
							</div>
							
						</div>
						<div class="col-md-4">
							<div class="container-noticia">
								<img src="{% static 'sgc/img/other-images/index-2_img-2.jpg' %}" class="full-wide" alt="">
								<h3 class="text-center"><a href="#">Tal</a></h3>
								<p class="text-justify">Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>	
							</div>
							
						</div>
						<div class="col-md-4">
							<div class="container-noticia">
								<img src="{% static 'sgc/img/other-images/index-2_img-3.jpg' %}" class="full-wide" alt="">
								<h3 class="text-center"><a href="#">Tal</a></h3>
								<p class="text-justify">Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>	
							</div>
							
						</div>
						<div class="col-md-4">
							<div class="container-noticia">
								<img src="{% static 'sgc/img/other-images/index-2_img-4.jpg' %}" class="full-wide" alt="">
								<h3 class="text-center"><a href="#">Tal</a></h3>
								<p class="text-justify">Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>	
							</div>
							
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<h2 class="block-title regular-title">Eventos</h2>

					<a href="#" class="full-wide space"><img src="{% static 'sgc/img/other-images/eventos-01.jpg' %}" class="full-wide" alt=""></a>
					<a href="#" class="full-wide space"><img src="{% static 'sgc/img/other-images/eventos-02.jpg' %}" class="full-wide" alt=""></a>
					<a href="#" class="full-wide space"><img src="{% static 'sgc/img/other-images/eventos-03.jpg' %}" class="full-wide" alt=""></a>
					<a href="#" class="full-wide space"><img src="{% static 'sgc/img/other-images/eventos-04.jpg' %}" class="full-wide" alt=""></a>
				</div>
			</div>

			<div class="col-lg-12">
				<div class="space"></div>	
			</div>

			<div class="col-lg-8">
				<h2 class="regular-title">Más noticias</h2>
				<div class="col-md-6">
					<ul class="list">
						<li>
							<h4><a href="#">Noticia</a></h4>
							<p>
								Vivamus tincidunt, urna quis consectetur venenatis, quam urna tincidunt mi, quis convallis enim dolor sed elit. 
							</p>
						</li>
						<li>
							<h4><a href="#">Noticia</a></h4>
							<p>
								Vivamus tincidunt, urna quis consectetur venenatis, quam urna tincidunt mi, quis convallis enim dolor sed elit. 
							</p>
						</li>
						<li>
							<h4><a href="#">Noticia</a></h4>
							<p>
								Vivamus tincidunt, urna quis consectetur venenatis, quam urna tincidunt mi, quis convallis enim dolor sed elit. 
							</p>
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<ul class="list-links text-right">
						<li>
							<a href="#">Noticia 1</a>
							
						</li>
						<li>
							<a href="#">Noticia 2</a>
							
						</li>
						<li>
							<a href="#">Noticia 3</a>
							
						</li>
					</ul>
				</div>
			</div>
		</div>

		

		<div class="row footer">
			<div class="container">
				<div class="col-md-6">
					<p>Derechos reservados</p>
				</div>
				<div class="col-md-6 text-right">
					<ul class="menu-footer">
						<li><a href="#">Mapa del sitio</a></li>
						<li><a href="#">Inicio</a></li>
						<li><a href="#">Ayuda</a></li>
						<li><a href="#">Soporte</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

{% endblock cuerpo %}