{% extends 'template_base.html' %}
{% load staticfiles %}

{% block titulo_pagina %} Noticias Históricas SGC {% endblock %}
{% block contenido_pagina %}
        <div class="space"></div>
        <div class="block" id="feature2">
            <div class="container">
                <h2 class="text-center" style="border-bottom:3px solid #DDD;">Noticias Históricas</h2>
                <div class="col-md-12">
                    <div class="col-md-8 noticias-hist-layer">
                        <article>
                            <div class="col-md-7">
                                <img src="{% static 'sgc-resources/images/feature/index-2_img-4.jpg' %}" alt="" width="100%"/>
                            </div>
                            <div class="col-md-5">
                                <a href="noticia-detalle.html"><h4 style="margin:5px 0;">Lorem Ipsum</h4></a>
                                <p>Autor: Autor de noticia</p>
                                <p class="text-justify">Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.</p>
                                
                                <p class="text-right">15 de enero del 2015</p>

                            </div>
                        </article>
                        <article>
                            <div class="col-md-7">
                                <img src="{% static 'sgc-resources/images/feature/index-2_img-5.jpg' %}" alt="" width="100%"/>
                            </div>
                            <div class="col-md-5">
                                <a href="noticia-detalle.html"><h4 style="margin:5px 0;">Lorem Ipsum</h4></a>
                                <p>Autor: Autor de noticia</p>
                                <p class="text-justify">Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.</p>
                                
                                <p class="text-right">15 de enero del 2015</p>

                            </div>
                        </article>
                        <article>
                            <div class="col-md-7">
                                <img src="{% static 'sgc-resources/images/feature/index-2_img-2.jpg' %}" alt="" width="100%"/>
                            </div>
                            <div class="col-md-5">
                                <a href="noticia-detalle.html"><h4 style="margin:5px 0;">Lorem Ipsum</h4></a>
                                <p>Autor: Autor de noticia</p>
                                <p class="text-justify">Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.</p>
                                
                                <p class="text-right">15 de enero del 2015</p>

                            </div>
                        </article>
                        <article>
                            <div class="col-md-7">
                                <img src="{% static 'sgc-resources/images/feature/index-2_img-3.jpg' %}" alt="" width="100%"/>
                            </div>
                            <div class="col-md-5">
                                <a href="noticia-detalle.html"><h4 style="margin:5px 0;">Lorem Ipsum</h4></a>
                                <p>Autor: Autor de noticia</p>
                                <p class="text-justify">Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.</p>
                                
                                <p class="text-right">15 de enero del 2015</p>

                            </div>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <h2 style="margin:5px 0;">Otras noticias</h2>
                        <a href="noticia-detalle.html" style="display:block;margin:10px 0;">Gamus at magna non nunc tristique rhoncuseri tym.</a>
                        <a href="noticia-detalle.html" style="display:block;margin:10px 0;">Gamus at magna non nunc tristique rhoncuseri tym.</a>
                        <a href="noticia-detalle.html" style="display:block;margin:10px 0;">Gamus at magna non nunc tristique rhoncuseri tym.</a>
                        <a href="noticia-detalle.html" style="display:block;margin:10px 0;">Gamus at magna non nunc tristique rhoncuseri tym.</a>
                        <a href="noticia-detalle.html" style="display:block;margin:10px 0;">Gamus at magna non nunc tristique rhoncuseri tym.</a>
                        

                        <!--<a class="text-center pull-right" href="#" style="background-color:rgb(64, 158, 249);color:white;font-size:20px;padding:8px 10px;display:inline-block;">VER MÁS</a>-->
                    </div>
                </div>
            </div>
        </div>
{% endblock %}