{% extends 'template_base.html' %}
{% load staticfiles %}
{% block titulo_pagina %}Núcleo Gestión Ambiental Marino-Costera{% endblock %}

{% block contenido_pagina %}
        
        <div class="space"></div>
        <div class="block" id="feature2">
            <div class="container">
                <div class="col-md-12">
				<img src="{% static 'sgc-resources/images/banner-marinocostero.jpg' %}" width="100%"/>
				</div>
                    <div class="col-md-8 layer-noticia">
					<h3 style="border-bottom:3px solid #DDD;"><strong>PRAESENT FAUCIBUS MALESUADA CIBUSTE</strong></h3>
                        <div class="col-md-4" style="margin:20px 0;">
                            
                            <article class="noticia-container">
                                <div class="img_container"><a href="images/feature/index-2_img-1-big.jpg"><img src="{% static 'sgc-resources/images/feature/index-2_img-2.jpg' %}" width="100%" alt="projects"></a></div>
                                <a href="noticia-detalle.html"><h4 style="margin:20px 0;">Aliquam nibh ante, egestas id</h4></a>
                                <p class="text-justify">Agestas id dictum aterert commodo re luctus libero. Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </article>
                        </div>
                        <div class="col-md-4" style="margin:20px 0;">
                            
                            <article class="noticia-container">
                                <div class="img_container"><a href="images/feature/index-2_img-1-big.jpg"><img src="{% static 'sgc-resources/images/feature/index-2_img-3.jpg' %}" width="100%" alt="projects"></a></div>
                                <a href="noticia-detalle.html"><h4 style="margin:20px 0;">Work name name</h4></a>
                                <p class="text-justify">Gamus at magna non nunc. Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </article>
                        </div>
                        <div class="col-md-4" style="margin:20px 0;">
                            
                            <article class="noticia-container">
                                <div class="img_container"><a href="images/feature/index-2_img-1-big.jpg"><img src="{% static 'sgc-resources/images/feature/index-2_img-4.jpg' %}" width="100%" alt="projects"></a></div>
                                <a href="noticia-detalle.html"><h4 style="margin:20px 0;">Gamus at magna non nunc tristique</h4></a>
                                <p class="text-justify">Gamus at magna non nunc tristique dictum aterert commodo re luctus libero. Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit amet.</p>
                            </article>
                        </div>
                        <div class="col-md-4" style="margin:20px 0;">
                            
                            <article class="noticia-container">
                                <div class="img_container"><a href="images/feature/index-2_img-1-big.jpg"><img src="{% static 'sgc-resources/images/feature/index-2_img-2.jpg' %}" width="100%" alt="projects"></a></div>
                                <a href="noticia-detalle.html"><h4 style="margin:20px 0;">Work name rhoncuseri tym</h4></a>
                                <p class="text-justify">Agestas id dictum aterert commodo re luctus libero. Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </article>
                        </div>
                        <div class="col-md-4" style="margin:20px 0;">
                            
                            <article class="noticia-container">
                                <div class="img_container"><a href="images/feature/index-2_img-1-big.jpg"><img src="{% static 'sgc-resources/images/feature/index-2_img-3.jpg' %}" width="100%" alt="projects"></a></div>
                                <a href="noticia-detalle.html"><h4 style="margin:20px 0;">Work name</h4></a>
                                <p class="text-justify">Gamus at magna non nunc tristique rhoncuseri tym.Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </article>
                        </div>
                        <div class="col-md-4" style="margin:20px 0;">
                            
                            <article class="noticia-container">
                                <div class="img_container"><a href="images/feature/index-2_img-1-big.jpg"><img src="{% static 'sgc-resources/images/feature/index-2_img-4.jpg' %}" width="100%" alt="projects"></a></div>
                                <a href="noticia-detalle.html"><h4 style="margin:20px 0;">Aliquam nibh ante, egestas id</h4></a>
                                <p class="text-justify">Egestas id dictum aterert commodo re luctus libero. Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada.</p>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!--<h2 style="border-bottom:3px solid #DDD;">Eventos</h2>-->
                        <div class="col-md-12">
                            <a href="#" style="margin:20px 0;display:block;"><img src="images/feature/eventos-01.jpg" alt="" width="100%" /></a>
                            <a href="#" style="margin:20px 0;display:block;"><img src="images/feature/eventos-02.jpg" alt="" width="100%" /></a>
                            <a href="#" style="margin:20px 0;display:block;"><img src="images/feature/eventos-03.jpg" alt="" width="100%" /></a>
                            <a href="#" style="margin:20px 0;display:block;"><img src="images/feature/eventos-04.jpg" alt="" width="100%" /></a>
                        </div>
                    </div>
                </div>
              
                
            </div>
        </div>
        
        <div class="space"></div>
    {% endblock %}