{% extends 'base_template.html' %}

{% load staticfiles %}

{% block page_title %} Programa Ondas {% endblock %}

<span style="display:none;">	
	{% block img_logo %}
		{% static 'sgc/img/logo-main-page.png' %}
	{% endblock img_logo %}
</span>

{% block cuerpo %}
	<div class="container-fluid">
		<div class="container container-rel">
			<div class="jumbotron main-banner-ondas" style="background-image: url({% static 'sgc/img/banner-main-ondas.jpg' %});">
				
			</div>
			<ul class="menu-ondas">
				<li><a href="documentos"><img src="{% static 'sgc/img/other-images/buttons/boton-documentos-ondas.png' %}" alt=""></a></li>
				<li><a href="noticias"><img src="{% static 'sgc/img/other-images/buttons/boton-noticias-ondas.png' %}" alt=""></a></li>
				<li><a href="galeriasimg"><img src="{% static 'sgc/img/other-images/buttons/boton-galerias-ondas.png' %}" alt=""></a></li>
				<li><a href="galeriasvideo"><img src="{% static 'sgc/img/other-images/buttons/boton-galeriasvideo-ondas.png' %}" alt=""></a></li>
				<li><img src="{% static 'sgc/img/other-images/buttons/personaje.png' %}" alt=""></li>
			</ul>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="container">
			<div class="col-lg-12">
				<div class="space"></div>
			</div>

			<div class="col-lg-12">
				<h2 class="highlight-title text-center big-title">¡Bienvenidos!</h2>
				
				<div class="col-lg-12">
					<div class="space"></div>
				</div>

				<div class="col-md-6">
					<div class="col-sm-7">
						<img src="{% static 'sgc/img/other-images/index-2_img-3.jpg' %}" class="full-wide" alt="">
					</div>
					<div class="col-sm-5">
						<h3 class="title-no-margin"><a href="#">Título del post</a></h3>
						<p>Autor: Desconocido</p>
						<p class="text-justify">
							Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.
						</p>
					</div>	
				</div>
				<div class="col-md-6">
					<div class="col-sm-7">
						<img src="{% static 'sgc/img/other-images/index-2_img-3.jpg' %}" class="full-wide" alt="">
					</div>
					<div class="col-sm-5">
						<h3 class="title-no-margin"><a href="#">Título del post</a></h3>
						<p>Autor: Desconocido</p>
						<p class="text-justify">
							Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.
						</p>
					</div>	
				</div>
				<div class="col-md-6">
					<div class="col-sm-7">
						<img src="{% static 'sgc/img/other-images/index-2_img-3.jpg' %}" class="full-wide" alt="">
					</div>
					<div class="col-sm-5">
						<h3 class="title-no-margin"><a href="#">Título del post</a></h3>
						<p>Autor: Desconocido</p>
						<p class="text-justify">
							Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.
						</p>
					</div>	
				</div>
				<div class="col-md-6">
					<div class="col-sm-7">
						<img src="{% static 'sgc/img/other-images/index-2_img-3.jpg' %}" class="full-wide" alt="">
					</div>
					<div class="col-sm-5">
						<h3 class="title-no-margin"><a href="#">Título del post</a></h3>
						<p>Autor: Desconocido</p>
						<p class="text-justify">
							Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.
						</p>
					</div>	
				</div>
			</div>

			<div class="col-md-12">
				<h2 class="bg-title medium-title text-center">Documentos</h2>

				<div class="space"></div>

				<div class="col-sm-4">
					<div class="container-noticia">
						<h2 class="text-center"><a href="#">Documento titulo</a></h2>
						<p class="text-justify">Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="container-noticia">
						<h2 class="text-center"><a href="#">Documento titulo</a></h2>
						<p class="text-justify">Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="container-noticia">
						<h2 class="text-center"><a href="#">Documento titulo</a></h2>
						<p class="text-justify">Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="container-noticia">
						<h2 class="text-center"><a href="#">Documento titulo</a></h2>
						<p class="text-justify">Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="container-noticia">
						<h2 class="text-center"><a href="#">Documento titulo</a></h2>
						<p class="text-justify">Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="container-noticia">
						<h2 class="text-center"><a href="#">Documento titulo</a></h2>
						<p class="text-justify">Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.</p>
					</div>
				</div>
				
				<div class="col-md-12 text-center">
					<div class="space"></div>
					<a href="#" class="btn btn-primary btn-lg">Ver más</a>
					<div class="space"></div>
				</div>
			</div>

			<div class="col-md-12">
				<h2 class="bg-title medium-title text-center">Noticias</h2>
				
				<div class="col-md-8">
					<div class="col-md-4">
							<div class="container-noticia">
								<img src="{% static 'sgc/img/other-images/index-2_img-2.jpg' %}" class="full-wide" alt="">
								<h3 class="text-center"><a href="{% url 'noticia.views.noticia_detalle' 1 %}">Noticia 1</a></h3>
								<p class="text-justify">Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>	
							</div>
							
						</div>
						<div class="col-md-4">
							<div class="container-noticia">
								<img src="{% static 'sgc/img/other-images/index-2_img-3.jpg' %}" class="full-wide" alt="">
								<h3 class="text-center"><a href="#">Tal</a></h3>
								<p class="text-justify">Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>	
							</div>
							
						</div>
						<div class="col-md-4">
							<div class="container-noticia">
								<img src="{% static 'sgc/img/other-images/index-2_img-4.jpg' %}" class="full-wide" alt="">
								<h3 class="text-center"><a href="#">Tal</a></h3>
								<p class="text-justify">Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero. Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>	
							</div>
							
						</div>
				</div>
				<div class="col-md-4">
					<ul class="list-links text-right">
						<li>
							<a href="#">Noticia 1</a>
							
						</li>
						<li>
							<a href="#">Noticia 2</a>
							
						</li>
						<li>
							<a href="#">Noticia 3</a>
							
						</li>
					</ul>
				</div>
				
				<div class="col-lg-12">
					<div class="space--hg"></div>
				</div>

			</div>
		</div>
	</div>	
	
	

	<div class="container-fluid bg-light-blue">
		<div class="container">
			<div class="col-md-12">
				<div class="space"></div>
				
				<div class="col-md-6">
					<img src="http://placehold.it/1110x740" alt="" data-selector="img" width="100%">
					<div class="space"></div>
				</div>
				<div class="col-md-6">
					<img src="http://placehold.it/1110x740" alt="" data-selector="img" width="100%">
					<div class="space"></div>
				</div>


			</div>

		</div>
	</div>
	

		
	<div class="container-fluid">
		<div class="row footer">
			<div class="container">
				<div class="col-md-6">
					<p>Derechos reservados</p>
				</div>
				<div class="col-md-6 text-right">
					<ul class="menu-footer">
						<li><a href="#">Mapa del sitio</a></li>
						<li><a href="#">Inicio</a></li>
						<li><a href="#">Ayuda</a></li>
						<li><a href="#">Soporte</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock cuerpo %}